* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ul li {
    list-style: none;
}