* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ul li {
    list-style: none;
}

body {
    background: linear-gradient(270deg, #EFB3F4 0%, #83C1BC 100%);
}

.container {
    margin: 0 auto;
}

.flag-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-item {
    margin-bottom: 45px;
    width: 300px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.flag-item:last-child {
    margin-bottom: 0;
}


/* flag-ukraine */

.flag-ukraine {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slide-top .5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flag-ukraine .top-stripe,
.flag-ukraine .bottom-stripe {
    width: 100%;
    height: 75px;
}

.flag-ukraine .top-stripe {
    background-color: #0057B8;
}

.flag-ukraine .bottom-stripe {
    background-color: #FFD700;
}


/* flag-japan */

.flag-japan {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-top .5s .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flag-japan .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #BE2B2A;
}


/* flag-iceland */

.flag-iceland {
    position: relative;
    background-color: #D63234;
    animation: slide-top .5s 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flag-iceland .rectangle-s-top,
.flag-iceland .rectangle-s-bottom,
.flag-iceland .rectangle-l-top,
.flag-iceland .rectangle-l-bottom {
    position: absolute;
    height: 70px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #105098;
}

.flag-iceland .rectangle-s-top,
.flag-iceland .rectangle-s-bottom {
    left: 0;
    width: 100px;
}

.flag-iceland .rectangle-l-top,
.flag-iceland .rectangle-l-bottom {
    right: 0;
    width: 190px;
}

.flag-iceland .rectangle-s-top {
    top: 0;
    border-width: 0px 5px 5px 0px;
}

.flag-iceland .rectangle-s-bottom {
    bottom: 0;
    border-width: 5px 5px 0px 0px;
}

.flag-iceland .rectangle-l-top {
    top: 0;
    border-width: 0px 0px 5px 5px;
}

.flag-iceland .rectangle-l-bottom {
    bottom: 0;
    border-width: 5px 0px 0px 5px;
}


/* flag-czech */

.flag-czech {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: slide-top .5s 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flag-czech .top-stripe,
.flag-czech .bottom-stripe {
    height: 75px;
    width: 100%;
}

.flag-czech .top-stripe {
    background-color: #fff;
}

.flag-czech .bottom-stripe {
    background-color: #D1302B;
}

.flag-czech .triangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 0 75px 128px;
    border-color: transparent transparent transparent #10437B;
}

@keyframes slide-top {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}